#max{
  width: 266px;
  height: 518px;
  align-items: center;
  margin: 5% auto;
  margin-top: 0%;
}
.bzbjt{
  background: url(../imgs/bzbjt.png);
}
.re{
  position: relative;
  height: 518px;
}
.re ul{
  list-style-type:none ;
}
.re ul>li{
  width: 266px;
  height: 518px;
  position: absolute;

  transition: 1s;
  opacity: 0;
}
.re ul>li img{
  width: 266px;
  height: 518px;
  border-radius: 0%;
  border: 0px solid #fffbd6;
}
#max ol {
  position: relative;
  display: grid;
  grid-template-columns: repeat(0,0px);
  grid-template-rows: auto;
  grid-gap: 1em;gap: 1em;
  float: right;
  margin-top: 0px;
  list-style: none;
  top:0;left:0;
}
#max ol li {
  width: 0px;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
  float: left;
  text-align: center;
  border-radius: 0em;
  border: 0px solid #999999;
}

